{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
<!-- Page Content -->
<!-- Banner Starts Here -->
{% block content%}
<div class="banner header-text">
  <div class="owl-banner owl-carousel">
    
    <div class="banner-item-01">
     <div class="text-content">
       <h2>خانه رویایی خود را همین حالا پیدا کنید</h2>
      <h4>املاک شما در خدمت شما</h4> 
     </div>
   </div>
    <div class="banner-item-03">
      <div class="text-content">
        <h2>خانه رویایی خود را همین حالا پیدا کنید</h2>
        <h4>املاک شما در خدمت شما</h4>
      </div>
    </div>


    <div class="banner-item-02">
      <div class="text-content">
        <h2>خانه رویایی خود را همین حالا پیدا کنید</h2>
        {% comment %} <h4>املاک شما در خدمت شما</h4> {% endcomment %}
      </div>
    </div> 

  </div>
</div>
<!-- Banner Ends Here -->
<!--  aparteman -->
<div class="latest-products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>جدید ترین اپارتمان ها</h2>
          <a href="{% url 'posts:listview-aparteman'%}"><i class="fa fa-angle-left"></i>بیشتر </a>
        </div>
      </div>
      {% for post in posts_apartemans %}
      <div class="col-md-4">
        <div class="product-item">
          <img src="{{post.image.url}}" alt="" height="208" width="151.78" >
          <div class="down-content">
            <a href="{% url 'posts:detailview-aparteman' post.id %}"><h4 style="text-align:center">{{post.titr}}</h4></a>
            
            <h6 style="text-align:right">
              {% if post.gheymat %}
              {{post.gheymat}} :قیمت<br>
              <br>
              
              {% else %}
              {{post.gheymat_rahn}} :قیمت رهن <br>{{post.gheymat_ejare}} :قیمت اجاره 
              {% endif %}
            </h6>

            
            <h6 style="direction: rtl;text-align:right">
              مکان: {{post.locations|truncatechars:22}}
            </h6>
            
            <p style="text-align:right">اپارتمان &nbsp;/&nbsp; {{post.status_buy}} &nbsp;/&nbsp; 
              {% if post.sal_sakht %}
                {{post.sal_sakht}} سال ساخت
              {% else %}
                نوساز
              {% endif %}
            </p>
           
              <hr>
              <p align='center'><big><a href='{% url 'posts:detailview-aparteman' post.id%}'>اطلاعات بیشتر</a></big></p>
          </div>
        </div>
      </div>
      {% endfor %} 
    </div>
  </div>
</div>
<!-- vila -->
<div class="latest-products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>جدیدترین ویلا ها</h2>
          <a href="{% url 'posts:listview-vila'%}"><i class="fa fa-angle-left"></i>بیشتر </a>
        </div>
      </div>
      {% for post in posts_vilaes %}
      <div class="col-md-4">
        <div class="product-item">
          <img src="{{post.image.url}}" alt="{{post.titr}}" height="208" width="151.78" >
          <div class="down-content">
            <a href="{% url 'posts:detailview-vila' post.id %}"><h4 style="text-align:center">{{post.titr}}</h4></a>

            <h6  style="text-align:right">
              {% if post.gheymat%}
              
              {{post.gheymat}} :قیمت<br>
              <br>
              
              {% else %}
              {{post.gheymat_rahn}} :قیمت رهن<br>{{post.gheymat_ejare}} :قیمت اجاره 
              {% endif %}
            </h6>
            
            <h6 style="direction: rtl;text-align:right">
              مکان: {{post.locations|truncatechars:22}}
            </h6>

            <p style="text-align:right">ویلا &nbsp;/&nbsp; {{post.status_buy}} &nbsp;/&nbsp;
              {% if post.sal_sakht %}
              {{post.sal_sakht}} سال ساخت
              {% else %}
              نوساز
              {% endif %}   
            </p>
            
           
              <hr>
                <p align='center'><big><a href='{% url 'posts:detailview-vila' post.id%}'>اطلاعات بیشتر</a></big></p>
          </div>
        </div>
      </div>
      {% endfor %}
      
    </div>
  </div>
</div>

<!-- zamin -->
<div class="latest-products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>جدیدترین زمین ها</h2>
          <a href="{% url 'posts:listview-zamin'%}"><i class="fa fa-angle-left"></i>بیشتر</a>
        </div>
      </div>
      {% for post in posts_zamin %}
      <div class="col-md-4">
        <div class="product-item">
          <img src="{{post.image.url}}" alt="" height="208" width="151.78" >
          <div class="down-content">
            <a href='{% url 'posts:detailview-zamin' post.id%}'><h4 style="text-align:center">{{post.titr}}</h4></a>
            
            <h6 style="text-align:right">{{post.gheymat}} :قیمت</h6>
            <h6 style="text-align:right">نوع زمین: {{post.noe_zamin}}</h6>
            <h6 style="direction: rtl;text-align:right">مکان: {{post.locations|truncatechars:22}}</h5>
            <hr>
            <p align='center'><big><a href='{% url 'posts:detailview-zamin' post.id%}'>اطلاعات بیشتر</a></big></p>
            
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


<div class="services" style="background-image: url({% static 'assets/images/other-image-fullscren-1-1920x900.jpg' %});" >
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>اخرین بلاگ ها</h2>
          
          <a href="{% url 'home:blog'%}"><i class="fa fa-angle-left"></i>بیشتر بخوانید </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="service-item">
          <a href="#" class="services-item-image"><img src="{% static 'assets/images/blog-1-370x270.jpg' %}" class="img-fluid" alt=""></a>
          
          <div class="down-content">
            <h4><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></h4>

            <p style="margin: 0;"> John Doe &nbsp;&nbsp;|&nbsp;&nbsp; 12/06/2020 10:30 &nbsp;&nbsp;|&nbsp;&nbsp; 114</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item">
          <a href="#" class="services-item-image"><img src="{% static 'assets/images/blog-2-370x270.jpg'%}" class="img-fluid" alt=""></a>

          <div class="down-content">
            <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit</a></h4>
            
            <p style="margin: 0;"> John Doe &nbsp;&nbsp;|&nbsp;&nbsp; 12/06/2020 10:30 &nbsp;&nbsp;|&nbsp;&nbsp; 114</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item">
          <a href="#" class="services-item-image"><img src="{% static 'assets/images/blog-3-370x270.jpg'%}" class="img-fluid" alt=""></a>

          <div class="down-content">
            <h4><a href="#">Aperiam modi voluptatum fuga officiis cumque</a></h4>

            <p style="margin: 0;"> John Doe &nbsp;&nbsp;|&nbsp;&nbsp; 12/06/2020 10:30 &nbsp;&nbsp;|&nbsp;&nbsp; 114</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="best-features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>درباره ما</h2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="left-content">
          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
          {% comment %} <ul class="featured-list">
            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
            <li><a href="#">Consectetur an adipisicing elit</a></li>
            <li><a href="#">It aquecorporis nulla aspernatur</a></li>
            <li><a href="#">Corporis, omnis doloremque</a></li>
          </ul> {% endcomment %}
          <a href="{% url 'home:about'%}" class="filled-button">بیشتر</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right-image">
          <img src="{% static 'assets/images/home-image-1.jpg' %}" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
{% comment %} <div class="happy-clients">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>moshaveran_ma</h2>

          <a href="testimonials.html">read more <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
      <div class="col-md-12">
        <div class="owl-clients owl-carousel text-center">
          <div class="service-item">
            <div class="icon">
              <i class="fa fa-user"></i>
            </div>
            <div class="down-content">
              <h4>John Doe</h4>
              <p><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 {% endcomment %}
{% comment %} 
<div class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="inner-content">
          <div class="row">
            <div class="col-md-8">
              <h4>Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque corporis amet elite author nulla.</p>
            </div>
            <div class="col-lg-4 col-md-6 text-right">
              <a href="contact.html" class="filled-button">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> {% endcomment %}

{% endblock %}